
.category {
  width: 15%;
}

.box-icon-body {
  border: 2px solid #eeeeee;

}

.item h3.h3-color a {
  color: black;
  font-size: 16px;
  font-weight: 600;
}


a:hover {
  text-decoration: none;
}
.law-title {
  font-size: 13px;
}

.text-muted {
  font-size: 11px ;
}


.text-right a.more {
  font-size: 10px;
  font-weight: bold;
  color: #ff6903;
}


