#banner .container{
  max-width: 100% !important;
  width: 100% !important
}


#banner .box-icon-titles{
  margin: 0px 0px 5px 0px;
  line-height: 27px;
  font-size: 18px;
  font-weight: 100;
  padding-left: 45px;
  background: url(https://thainguyen.dcs.vn/themes/netsite_egov/images/codang.png) no-repeat left center;
  background-size: 41px;
  border-bottom: 2px solid #db0000;
  font-family: UTM Netsite;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#banner .owl-nav{
  display:flex;
  justify-content: space-between;
  width:100%;
}
#banner .owl-prev{
  position: absolute;
  bottom: 0;
  top:50%;
  transform: translate(0,-50%);
  left: 20px;
}

#banner .owl-next{
  position: absolute;
  bottom: 0;
  top:50%;
  transform: translate(0,-50%);
  right: 20px;
}


#banner .owl-next i,
#banner .owl-prev i{
  font-size: 20px !important;
  font-weight: bold;
  color:#fff;
  padding: 11px 15px; 
  border: 1px solid #ccc;
  background-color: rgba(39,39,39,0.2);
  border:none;
  
}
#banner .owl-next i:hover,
#banner .owl-prev i:hover{
  background-color: rgba(39,39,39,0.8)
}


/* .owl-next,
.owl-prev{
} */


